[include mainsail.cfg]
[include gcode_macro.cfg]
[include KAMP_Settings.cfg]
#[include mpc.cfg]

[skew_correction]
#[print_stats]
[pause_resume]
#[display_status]

[gcode_arcs]
resolution: 0.5

[virtual_sdcard]
path: ~/printer_data/gcodes
on_error_gcode:CANCEL_PRINT

[idle_timeout]
timeout: 43200
gcode:
    PRINT_END
    
#######################################
# MCU Definitions
#######################################

[mcu]
canbus_uuid: 193bfb5703d3

[mcu TB]
serial: /dev/ttyUSB0
restart_method: command
baud:500000

[mcu rpi]
serial: /tmp/klipper_host_mcu

#######################################
# Basic Printer Kinematics
#######################################
[printer]
kinematics: corexy
max_velocity: 600
max_accel: 20000
max_z_velocity: 20
max_z_accel: 500
square_corner_velocity: 8

#######################################
# Beacon
#######################################

[beacon]
serial: /dev/serial/by-id/usb-Beacon_Beacon_RevH_182175864E5737374D202020FF0A3626-if00
x_offset: 0
y_offset: -31
mesh_main_direction: x
mesh_runs: 2
speed: 40
lift_speed: 60
z_settling_time: 100

home_xy_position: 152.5, 152.5
home_z_hop: 5
home_z_hop_speed: 30
home_xy_move_speed: 500
home_y_before_x: True
home_method: proximity
home_method_when_homed: proximity
home_autocalibrate: never

contact_max_hotend_temperature: 190

#######################################
# Extruder
#######################################
[extruder]
step_pin: TB:PB9
dir_pin: !TB:PB8
enable_pin: !TB:PC15
rotation_distance: 53.494165  # Re-calibrate your own value
gear_ratio: 44:10, 37:17
microsteps: 16
full_steps_per_rotation: 200
nozzle_diameter: 0.400
filament_diameter: 1.75
min_temp: 0
max_temp: 380
min_extrude_temp: 175

sensor_type: MAX6675
sensor_pin: TB:PB12
spi_speed: 100000
spi_software_sclk_pin: TB:PB13
spi_software_mosi_pin: TB:PA11
spi_software_miso_pin: TB:PB14

heater_pin: TB:PB3

# control: pid
# smooth_time: 2.8
# max_power: 1
# pid_Kp: 33.555
# pid_Ki: 4.76
# pid_Kd: 59.141

#control: mpc
heater_power: 86 
cooling_fan: fan_generic cooling_fan
ambient_temp_sensor: temperature_sensor beacon_coil
filament_diameter: 1.75
filament_density: 1.20
filament_heat_capacity: 1.8 

pressure_advance: 0.032
pressure_advance_smooth_time: 0.02
max_extrude_cross_section:500
instantaneous_corner_velocity: 10.000
max_extrude_only_distance: 1000.0
max_extrude_only_velocity:5000
max_extrude_only_accel:5000

[tmc2209 extruder]
uart_pin: TB:PC13
interpolate: False
run_current: 0.795
driver_TBL: 0
driver_TOFF: 4
driver_HSTRT: 7
driver_HEND: 15
stealthchop_threshold: 0
sense_resistor: .11

#######################################
# Stepper X
#######################################

[autotune_tmc stepper_x]
motor: leisai-42cm06d
tuning_goal: auto
voltage: 24
overvoltage_vth: 28

#MOTOR 0
[stepper_x]
step_pin: PE6
dir_pin: !PE5
enable_pin: !PC14
rotation_distance: 40
microsteps: 32
full_steps_per_rotation: 200
endstop_pin: tmc2240_stepper_x:virtual_endstop
position_min: -1.5
position_endstop: -1.5
position_max: 307
homing_speed: 150
homing_retract_dist: 5
min_home_dist: 5
homing_positive_dir: False

[tmc2240 stepper_x]
cs_pin: PC13
spi_software_mosi_pin: PG6
spi_software_miso_pin: PG7
spi_software_sclk_pin: PG8
diag0_pin: ^!PF4
stealthchop_threshold: 0
interpolate: false
run_current: 1.167
home_current: 0.93
driver_SLOPE_CONTROL: 3
driver_SGT:1
rref: 12000 # stock Klipper value

#######################################
# Stepper Y
#######################################

[autotune_tmc stepper_y]
motor: leisai-42cm06d
tuning_goal: auto
voltage: 24
overvoltage_vth: 28

# MOTOR 1
[stepper_y]
step_pin: PE2
dir_pin: !PE1
enable_pin: !PE4
rotation_distance: 40
microsteps: 32
full_steps_per_rotation: 200
endstop_pin: tmc2240_stepper_y:virtual_endstop
position_min: -2
position_endstop: -2
position_max: 325
homing_speed: 150
homing_retract_dist: 5
min_home_dist: 5
homing_positive_dir: False

[tmc2240 stepper_y]
cs_pin: PE3
spi_software_mosi_pin: PG6
spi_software_miso_pin: PG7
spi_software_sclk_pin: PG8
diag0_pin: ^!PF3
interpolate: false
run_current: 1.167
home_current: 0.7
driver_SLOPE_CONTROL: 3
driver_SGT: 1
rref: 12000 # stock Klipper value

#######################################
# Stepper Z
#######################################

# MOTOR 3
[stepper_z]
step_pin: PB8
dir_pin: PB7
enable_pin: !PE0
rotation_distance: 4
full_steps_per_rotation: 200
microsteps: 16
position_max: 285
position_min: -10
homing_speed: 50
homing_retract_dist: 0
endstop_pin: probe:z_virtual_endstop

[tmc2209 stepper_z]
uart_pin: PB9
interpolate: false
run_current: 1.15
sense_resistor: 0.110
stealthchop_threshold: 0

# MOTOR 4
[stepper_z1]
step_pin: PB4
dir_pin: PB3
enable_pin: !PB6
rotation_distance: 4
full_steps_per_rotation: 200
microsteps: 16

[tmc2209 stepper_z1]
uart_pin: PB5
interpolate: false
run_current: 1.15
sense_resistor: 0.110
stealthchop_threshold: 0

#######################################
# Bed Heater
#######################################
[heater_bed]
heater_pin: PF5
sensor_type: ATC Semitec 104NT-4-R025H42G
sensor_pin: PB1
max_power: 1.0

control: pid
pid_Kp: 63.418 
pid_Ki: 1.342 
pid_Kd: 749.125

min_temp: 0
max_temp: 130

#######################################
# Chamber Heater
#######################################
[heater_generic chamber]
heater_pin: PA0
max_power:1.0
sensor_type:NTC 100K MGB18-104F39050L32
sensor_pin: PC4

control: pid
pid_Kp: 63.418 
pid_Ki: 1.342 
pid_Kd: 749.125

min_temp:0
max_temp:100

[verify_heater chamber]
max_error: 400
check_gain_time:600
hysteresis: 5
heating_gain: 2


#######################################
# Fans
#######################################
[fan_generic auxiliary_cooling_fan]
pin: PF9
shutdown_speed: 0.0
cycle_time: 0.0100
hardware_pwm: false
kick_start_time: 0.100

[heater_fan SSR_Fan]
pin: PF7
max_power: 1.0
shutdown_speed:1.0
kick_start_time: 0.5
heater: chamber, heater_bed
heater_temp: 50.0
fan_speed: 1.0

[heater_fan chamber_fan]
pin: PF6
max_power: 1.0
shutdown_speed: 1.0
kick_start_time: 0.5
heater:chamber
fan_speed: 1.0

[heater_fan hotend_fan]
pin: TB:PB5
max_power: 1.0
shutdown_speed:1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0
fan_speed: 1.0

[fan_generic cooling_fan]
pin: TB:PA8
max_power: 1.0
shutdown_speed:0
cycle_time: 0.010
hardware_pwm: False
kick_start_time: 0.100
tachometer_pin: TB:PA9
tachometer_ppr: 2
tachometer_poll_interval: 0.0015

[controller_fan board_fan]
pin: PA4
max_power:1.0
shutdown_speed:1.0
cycle_time:0.01
fan_speed: 1.0
heater:chamber, heater_bed
stepper:stepper_x, stepper_y

[temperature_fan CM4]
pin: rpi:gpio26  #CM4
max_power:1.0
shutdown_speed: 1.0
control: watermark # the type of hysteresis we are using
max_delta: 3.0 # fan turns on/off at 3° over/under target_temp
sensor_type: temperature_mcu # same as a temp_sensor
sensor_mcu: mcu 
min_temp: 0
max_temp: 100 # just the valid temperature ranges
target_temp: 40.0 # the initial target temperature for the fan

#######################################
# Outputs
#######################################

[output_pin caselight]
pin: PA5
pwm: false
shutdown_value:0
value:0

#######################################
# Filament Sensors
#######################################

[filament_switch_sensor extruder_in]
switch_pin: TB:PA3
pause_on_runout: True
runout_gcode:
    M118 Filament run out
    
#######################################
# Input Shaper
#######################################

[shaketune]
result_folder: ~/printer_data/config/ShakeTune_results
number_of_results_to_keep: 10
keep_raw_data: False
show_macros_in_webui: True
timeout: 600
measurements_chunk_size: 2
max_freq: 200
dpi: 300

# [adxl345]
# cs_pin: TB:PA4
# spi_software_sclk_pin: TB:PA5
# spi_software_mosi_pin: TB:PA7
# spi_software_miso_pin: TB:PA6
# axes_map: -x, z, -y

[resonance_tester]
accel_chip: beacon
accel_per_hz: 150
max_smoothing:0.5
sweeping_accel: 400
sweeping_period: 0
probe_points:
    150, 150, 20
    
[input_shaper]
shaper_type_x: mzv
shaper_freq_x: 48
shaper_type_y: mzv
shaper_freq_y: 39

# #######################################
# #   Z Tilt
# #######################################

[z_tilt]
z_positions:
    -17.5,152.5
    335.7,152.5
    
points:
    40, 171.3           
    265, 171.3         
    
speed: 300
horizontal_move_z: 5
retries: 5
retry_tolerance: 0.006

# #######################################
# #   Bed Mesh
# #######################################

[bed_mesh]
speed: 300
horizontal_move_z: 2
zero_reference_position: 152.5, 152.5
mesh_min: 25,25
mesh_max: 280,280
probe_count: 14,14
algorithm:bicubic
bicubic_tension: 0.3
mesh_pps: 2,2
fade_start: 2
fade_end: 10
fade_target: 0
split_delta_z: 0.01
move_check_distance: 4

#######################################
# Temperature Sensors
#######################################
# [temperature_sensor MCU]
# sensor_type: temperature_mcu
# sensor_mcu: mcu

[temperature_sensor CM4]
sensor_type: temperature_host
min_temp: 0
max_temp: 100

[temperature_sensor Tool_Board]
sensor_type: temperature_mcu
sensor_mcu: TB

[temperature_sensor Heater_Core]
sensor_type: NTC 100K MGB18-104F39050L32
sensor_pin: PA7
min_temp: 0
max_temp: 140

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [skew_correction Califlower]
#*# xy_skew = -0.00010028607882664367
#*# xz_skew = 0.0
#*# yz_skew = 0.0
#*#
#*# [heater_bed]
#*# pid_version = 1
#*# pid_target = 100.00
#*# pid_tolerance = 0.0200
#*#
#*# [chamber]
#*# pid_version = 1
#*# pid_target = 65.00
#*# pid_tolerance = 0.0200
#*# control = pid
#*# pid_kp = 62.408
#*# pid_ki = 0.323
#*# pid_kd = 3012.658
#*#
#*# [beacon model default]
#*# model_coef = 1.4969533445484473,
#*# 	1.8382966530099065,
#*# 	0.7907657074981118,
#*# 	0.3766689747495166,
#*# 	0.347437775051556,
#*# 	0.32773660086052314,
#*# 	-0.19032655837688076,
#*# 	-0.3149386728138596,
#*# 	0.15524956007920154,
#*# 	0.1756794326225113
#*# model_domain = 1.836202099566608e-07,1.9228731086325968e-07
#*# model_range = 0.200000,5.000000
#*# model_temp = 73.803949
#*# model_offset = 0.00000
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.111981, 0.105097, 0.091777, 0.073231, 0.065359, 0.052371, 0.034464, 0.032453, 0.033974, 0.018306, 0.002075, -0.007143, -0.008297, -0.029017
#*# 	0.088300, 0.089332, 0.072353, 0.061463, 0.052916, 0.032580, 0.019705, 0.022587, 0.015683, 0.002729, -0.006800, -0.009821, -0.018570, -0.025374
#*# 	0.092841, 0.090705, 0.074182, 0.068223, 0.058990, 0.042531, 0.034182, 0.034317, 0.028444, 0.022040, 0.009343, 0.003270, 0.000916, -0.007929
#*# 	0.079990, 0.078459, 0.076243, 0.072634, 0.067760, 0.056244, 0.047862, 0.042758, 0.037552, 0.029350, 0.018400, 0.016355, 0.012984, 0.006052
#*# 	0.026811, 0.033006, 0.032674, 0.031380, 0.028575, 0.025095, 0.013948, 0.011023, 0.001693, 0.002112, -0.010748, -0.016400, -0.012089, -0.015600
#*# 	0.000929, 0.001652, 0.003521, 0.006795, 0.010401, 0.018423, 0.005841, -0.000191, -0.002847, -0.006131, -0.017255, -0.022546, -0.021819, -0.025064
#*# 	-0.015126, -0.006515, -0.002581, -0.000561, 0.007361, 0.013171, 0.009974, 0.008496, -0.003892, -0.008791, -0.016911, -0.017412, -0.012812, -0.008764
#*# 	-0.028218, -0.022547, -0.015882, -0.011543, -0.006855, -0.000556, -0.000248, 0.002394, -0.001637, -0.002076, -0.013588, -0.014639, -0.011225, -0.001059
#*# 	-0.058251, -0.054070, -0.043239, -0.034143, -0.022196, -0.013155, -0.010258, -0.005873, -0.002695, 0.001765, -0.014420, -0.015387, -0.008897, 0.009324
#*# 	-0.069273, -0.062045, -0.053904, -0.042696, -0.030684, -0.018712, -0.009833, -0.001435, -0.000820, 0.002551, -0.010649, -0.007746, 0.003428, 0.012163
#*# 	-0.102898, -0.096584, -0.089309, -0.078539, -0.077783, -0.063396, -0.056021, -0.040489, -0.038766, -0.037085, -0.040725, -0.035209, -0.015678, -0.009841
#*# 	-0.159957, -0.150733, -0.138391, -0.127989, -0.117937, -0.105866, -0.095013, -0.085555, -0.083149, -0.082654, -0.084062, -0.080120, -0.064663, -0.057833
#*# 	-0.190244, -0.186650, -0.179296, -0.166299, -0.155161, -0.146660, -0.133078, -0.132489, -0.131669, -0.127384, -0.122190, -0.113938, -0.099803, -0.079897
#*# 	-0.182296, -0.174106, -0.197563, -0.205452, -0.194912, -0.184876, -0.174663, -0.161958, -0.158864, -0.149430, -0.140099, -0.130556, -0.110462, -0.068498
#*# x_count = 14
#*# y_count = 14
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.3
#*# min_x = 22.0
#*# max_x = 283.0
#*# min_y = 22.0
#*# max_y = 283.0
#*#
#*# [bed_mesh kamp]
#*# version = 1
#*# points =
#*# 	0.051353, 0.033914, 0.026062, 0.024690, 0.019147, 0.013899
#*# 	0.055141, 0.048141, 0.040431, 0.033375, 0.028978, 0.021537
#*# 	0.015176, 0.018278, 0.004053, 0.002471, -0.005170, -0.009693
#*# 	0.002488, 0.006789, -0.005250, -0.011463, -0.014030, -0.016848
#*# 	0.000629, -0.000269, -0.002540, 0.001811, -0.009413, -0.014557
#*# 	-0.012988, -0.010680, -0.009809, -0.003677, -0.014018, -0.013561
#*# 	-0.022993, -0.020307, -0.016384, -0.015904, -0.017025, -0.016770
#*# 	-0.030836, -0.022713, -0.012778, -0.007422, -0.010563, -0.003225
#*# 	-0.064514, -0.059598, -0.056661, -0.046215, -0.044526, -0.047131
#*# 	-0.109338, -0.106479, -0.099980, -0.092639, -0.089226, -0.085614
#*# x_count = 6
#*# y_count = 10
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.3
#*# min_x = 108.065
#*# max_x = 196.935
#*# min_y = 62.9197
#*# max_y = 242.08
#*#
#*# [extruder]
#*# pid_version = 1
#*# pid_target = 300.00
#*# pid_tolerance = 0.0200
#*# pid_kp = 44.107
#*# pid_ki = 9.286
#*# pid_kd = 52.377
#*# control = mpc
#*# block_heat_capacity = 10.8631
#*# sensor_responsiveness = 0.102290
#*# ambient_transfer = 0.117215
#*# fan_ambient_transfer = 0.117215, 0.118694, 0.126106, 0.132829, 0.135749, 0.139254, 0.143122, 0.144541, 0.145307, 0.150849
